<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
      
    </ion-tab-button>

    <ion-tab-button tab="comunidad">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Comunidad</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>